:root {
  --light-background-color: rgba(249, 249, 249, 1);
  --light-main-color: rgba(0, 0, 0, 1);
  --white-color: rgba(255, 255, 255, 1);
  --light-navbar-color: rgba(242, 242, 242, 1);

  --dark-background-color: rgba(17, 17, 17, 1);
  --dark-main-color: rgba(255, 255, 255, 1);
  --black-color: rgba(0, 0, 0, 1);
  --dark-navbar-color: rgba(47, 47, 47, 1);
}


